{% extends "layout.jinja" %}
{% set title = "Device Activation" %}

{% block body %}
<main class="signup-form">

  {% include "errors.jinja" %}
  <form>
    <h2 class="text-center display-3 text-success fw-light">Congratulations, you're all set!</h2>
  </form>
</main>
{% endblock %}